<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>uk.org.lidalia.docker-lifecycle-listener</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/opt/docker-lifecycle-listener/sbin/docker-lifecycle-listener.sh</string>
      <string>/usr/local/etc/docker-lifecycle-listener.d</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/docker-lifecycle-listener.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/docker-lifecycle-listener.log</string>
  </dict>
</plist>
